.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*  */

.userLoginDiv {
  width: 300px;
  margin: auto;
  padding: 100px 0px 0px 0px;
}

.loginBtn {
  width:100px
}

.errMessage{
  color: #cc0000;
  margin-bottom: 12px;
}

.successMessage{
  color: #6B8E23;
  margin-bottom: 10px;
}

.info {
  margin: 0px 150px 0px 150px;
}

.dropDownDiv {
  margin: 0px 0px 20px 60px
}

.addBtnTask {
  margin: 0px 0px 0px 150px
}

.btnRow {
  width:400px;
}

.logoutBtn {
  width: 150px;
}

.navItemClass {
  background-color: black;
}

.navLinkClass {
  background-color: white;
}